.App {
  text-align: center;
}
.outer {
  background-color: lavender;
  padding: 4px;
  padding-bottom: 1em;
}
.allTodos {
  background-color: orange;
  font-size: 22px;
  margin: 1px;
  margin-left: 18px;
}
.count-presenter {
  background-color: magenta;
  margin: 4px;
  padding: 1px;
  text-align: center;
}

.count-btns {
  text-align: center;
  background: lightsalmon;
  margin: 0px;
  padding: 5px;
}

.new-todo {
  background: lightgreen;
}

.count-btn button {
  margin: 2px;
}

.center-img {
  display: block;
  margin: auto;
}
